@font-face {
    font-family: bebe;
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
}

*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
 font-family: bebe; 
 align-items: center;
}
 
html, body{
 height: 100%; 
 width: 100%; 
 background-color: #fff;
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: center; */
}

.card{
    margin-top: 15px;
    height: 450px;
    width: 50%;
    background-color: bisque;
    border-radius: 10px;
    object-fit: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

img{
    height:100%;
    width:100%;
}

.bottom{
    height: 50%;
    width: 100%;
    background:linear-gradient(transparent, black);
    position: absolute;
    bottom: -200px;
    transition: all ease 0.3s;
}

.card:hover .bottom{
    bottom: 0px;
}

h1{
    font-size: 100px;
    font-weight: 900;
    color: crimson;
    margin-top: 20px;
    transition: all ease 0.3s;
}


/* #animate:hover h1{
    color:black;
} */