
@font-face {
    font-family: bebe;
    src: url(../fonts/BebasNeue-Regular.ttf);
}


*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 

}
 
html, body{
 height: 100%; 
 width: 100%; 
}

#main{
    height: 100%;
    width: 100%;
    background-color: #739EC9;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 50px;
}

#card{
    height: 320px;
    width: 230px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.559);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px;
}

#card:hover{
    box-shadow: 10px 10px 20px #ffeadd14;
}


#card img{
    height: 120px;
    width:120px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

#card h3{
    font-weight: 570;
    font-family: bebe;

}

#card p {
    font-size: 15px;
    
}

#card button {
    height:40px;
    width:100px;
    border-radius: 40px;
    border: none;
    color: white;
    font-family: bebe;
    background-color: black;
    cursor: pointer;
}

#card button:hover{
    background-color: crimson;
}