@font-face {
    font-family: bebe;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box;
 text-align: center; 
 font-family: bebe;
  
}
 
html, body{
 height: 100%; 
 width: 100%; 
}

#main{
    height: 100%;
    width:100%;
    background-color: #F6F8FA;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 20px;
    
}

#div1{
    width: 100%;
    height: 200px;
    padding-top: 45px;
    flex-shrink: 0;
    background-color: #1A2434;
}
#div1>h1{
    color: white;
    font-weight: 400;
}
#div1>h4{
    color: white;
    font-weight: 300;
}

#div2{
    width: 85%;
    height:180px;
    flex-shrink: 0;
    padding-top: 45px;
    background-color: #fff;
}

.boxes{
    width: 85%;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div3{
    background-color: #C3D7E4;
}

#div4{
    background-color: #FEF1BF;
}

#div5{
    background-color: #E6E1F9;
}

#div6{
    background-color: #CAEDD6;
}

#div7{
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: #0E1119;
}

.info{
    width: 75%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 15px;
    flex-shrink: 0;
}

h2{
    font-weight: 400;
}
p{
    font-weight: 50;
    font-family: sans-serif;
    padding-top: 5px;
}


#div7>p{
    color: white;
    padding-top: 15px;
}