*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
 
html, body{
 height: 100%; 
 width: 100%; 
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: "top-left top-center top-right"
                         "top-left centers bottom-right"
                         "bottom-left bottom-left bottom-right"
    ;

    padding-left: 370px;
    padding-right: 370px;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 10px;

}

div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-left{
    grid-area: top-left;
    background-color: #d6e6ff;
    border-radius: 10px;
}

#top-right{
    grid-area: top-right;
    background-color: #d7f9f8;
    border-radius: 10px;
}

#top-center{
    grid-area: top-center;
    background-color: #ffffea;
    border-radius: 10px;
}

#centers{
    grid-area: centers;
    background-color: #fff0d4;
    border-radius: 10px;
}

#bottom-left{
    grid-area: bottom-left;
    background-color: #fbe0e0;
    border-radius: 10px;
}

#bottom-right{
    grid-area: bottom-right;
    background-color: #e5d4ef;
    border-radius: 10px;
}