*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
 font-family:Arial, Helvetica, sans-serif; 
}
 
html, body{
 height: 100%; 
 width: 100%; 
}

main{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar{
    height: 7%;
    width: 100vw;
    /* background-color: #e21a1a; */
    display: flex;
    justify-content: space-between;
    
    
}

.left{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.right{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1px;
}

.mid{
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 200px; */
}

.mid a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.right #login{
    height: 40px;
    width: 70px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: none;
    font-weight: 600;
}

.right #talk{
    height: 30px;
    width: 110px;
    border-radius: 15px;
    background-color: #1D253C;
    color: #FFFFFF;
    border: none;
}

.left img{
    height: 20px;
    width: 20px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.left h2{
    cursor: pointer;
}

.hero{
    height: 93%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    
}

.hero-left{
    height: 100%;
    width: 50%;
}

.hero-left-up{
    width: 100%;
    height: 50%;
    position: relative;
    padding: 1rem;
    padding-left: 20px;

}

.hero-right{
    width: 50%;
    height: 100%;
}

.hero-left-up h1{
    font-size: 60px;
    font-weight: 400;
    margin-top: 1.2rem;
}

.hero-left-up #work{
    padding: 10px 30px;
    background-color: transparent;
    border: 2px #1D253C solid;
    border-radius: 20px;
    
}

.hero-left-up #contact{
    padding: 10px 40px;
    background-color:#1D253C;
    color: white;
    border-radius: 20px;

}


.hero-left-up a{
    font-size: 20px;
    font-weight: 500;
}

.hero-left-up .rollBall{
    height: 4rem;
    width: 9rem;
    position: absolute;
    margin-top: 1.2rem;
    cursor: pointer;
    /* border-radius: 40px;
    background-image: url(./assets/public/gif/rollBall.gif);
    object-fit: cover;
    object-position: top; */
}

.hero-left-up video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
button{
    cursor: pointer;
}

.hero-left-down{
    width: 100%;
    height: 50%;
    padding: 1rem;
    padding-left: 20px;
}

p{
    margin-top: 12rem;
    font-size: 18px;
    font-weight: 100;

}

.left-down-img{
    height: 5rem;
    width: 100%;
    display:flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 0.5rem;
}

.left-down-img>img{
    height: 60%;
    width: 120px;
    background-size: contain;
    background-position: center;
}

.hero-right #thread{
    height: 48%;
    width: 98%;
    border-radius: 20px;
}

.vid-bottom-right{
    height: 50%;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.vid-bottom-right #creativity{
    height: 98%;
    width: 48%;
    border-radius: 20px;
}

.vid-bottom-right #sphere{
    height: 98%;
    width: 48%;
    border-radius: 20px;
}

#thread video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#creativity video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#sphere video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}