*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;   
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #123;

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 20px;
    background-color: rgba(218, 6, 6, 0.77);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    position: relative;
    z-index: 9;
}

button:active{
    scale: 0.9;
}